:root {
  --heading-text-padding: 24px;
  --light: #008080;
  --dark: #004c4c;
  --dark-grey: #282828;
  --header-text-size: 21px;
  --light-grey: #96958d;
  --mid-grey:  #6a6a6a;
  --ultra-light: #B2D8D8;
}

body {
  margin: 0px;
  background-color: var(--dark-grey);
  font-family: sans-serif;
  font-weight: normal;
}

h1 {
  font-weight: normal;
}

/* Copy class for header object. */
.head-obj-cl {
  width: 100%;
  height: 70px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  display: block;
}
/* End copy. */

/* Copy class for base object. */
.base-object {
  height: 283px;
  width: 100%;
  padding-bottom: 0px;
  margin-bottom: 0px;
  display: block;
}
/* End copy. */

.section {
  width: 100%;
}

.section-final {
  width: 100%;
  margin-bottom: 63px;
}

.tbl{
  color: white;
  font-family: Heebo, sans-serif;
  border-collapse: collapse;
  text-align: left;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

.tbl td, .tbl th {
  padding: 8px 48px 8px 5px;
  border-bottom: 1px solid var(--mid-grey);
}

.tbl th {
  text-align: left;
  background-color: none;
  color: var(--ultra-light);
}

.head {
  color: var(--light-grey);
  margin-bottom: 0px;
  margin-left: 20%;
  margin-top: 0px;
  padding-top: 50px;
  font-size: 36px;
  display: inline-block;
}

.head-top {
  color: var(--light-grey);
  margin-bottom: 0px;
  margin-left: 20%;
  margin-top: 0px;
  display: inline-block;
}

.row:hover {
  cursor: pointer;
  background-color: #191919;
}

.c1 {
  width: 35%;
}

.c2 {
  width: 25%;
}

.c3 {
  width: 25%;
}

.c4 {
  width: 15%;
}

.super-header {
  text-align: left;
  color: var(--light);
  padding-top: 83px;
  margin: 0px;
  padding-left: 20%;
  font-size: 36px;
}

.c1-3 {
  width: 40%;
}

.c2-3 {
  width: 40%;
}

.c3-3 {
  width: 20%;
}

.role {
  font-size: 18px;
  display:  inline-block;
  font-family: Heebo, sans-serif;
  color: var(--mid-grey);
  font-weight: normal;
  padding-left: 11px;
}


* {
  margin: 0;
  padding: 0;
}

@media all and (max-width: 1200px) {
  .role, .head {
    display: block;
    float: none;
  }

  .role {
    padding-left: 20%;
  }

  .tbl {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .section, .section-final, .role {
    font-size: 24px;
  }

  .head-top, .head {
    font-size: 36px;
  }

  .super-header, .head-top, .head, .role {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    margin: 0px;
    text-align: left;
  }
}

@media all and (max-width: 1140px) {
  .head-obj-cl {
    height: 78px;
  }
}


@media all and (max-width: 890px) {
  .head-obj-cl {
    height: 160px;
  }
}
