:root {
  --heading-text-padding: 24px;
  --light: #008080;
  --dark: #004c4c;
  --dark-grey: #282828;
  --header-text-size: 21px;
  --light-grey: #96958d;
  --mid-grey:  #6a6a6a;
  --ultra-light: #B2D8D8;
}

body {
  margin: 0px;
  background-color: var(--dark-grey);
  font-family: sans-serif;
  font-weight: normal;
}

h1 {
  font-weight: normal;
}

.header {
  width: 100%;
  background-color: var(--light);
  color: white;
  overflow: auto;
  height: auto;
}

.headers {
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  text-align: right;
}

.h-left {
  display: inline-block;
  float: left;
  font-family: Heebo, sans-serif;
  font-size: 30px;
  margin: 0px;
  padding: 21px 15px;

}

.header-obj {
  display: inline-block;
  padding: 21px 15px;
  font-size: var(--header-text-size);
  color: white;
  text-decoration: none;
  border:0px;
  font-size: 30px;
  transition: background .5s;

}

.header-obj-end {
  display: inline-block;
  padding: 21px 15px;
  font-size: var(--header-text-size);
  color: white;
  text-decoration: none;
  border:0px;
  font-size: 30px;
  transition: background .5s;
}

.header-obj:hover {
  background: white;
  color: var(--dark);
  border-radius: 4px 4px 0px 0px;
  transition: background .5s;
}

.header-obj-end:hover {
  background: white;
  color: var(--dark);
  border-radius: 4px 4px 0px 0px;
  transition: background .5s;
}

.logo {
  float: left;
  height: 35px;
  width: auto;
  padding: 21px 0px;
}

.section {
  width: 100%;
}

.section-final {
  width: 100%;
  margin-bottom: 63px;
}

.tbl{
  color: white;
  font-family: Heebo, sans-serif;
  border-collapse: collapse;
  text-align: left;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

.tbl td, .tbl th {
  padding: 8px 48px 8px 5px;
  border-bottom: 1px solid var(--mid-grey);
}

.tbl th {
  text-align: left;
  background-color: none;
  color: var(--ultra-light);
}

.head {
  color: var(--light-grey);
  margin-bottom: 0px;
  margin-left: 20%;
  margin-top: 0px;
  padding-top: 50px;
  display: inline-block;
}

.head-top {
  color: var(--light-grey);
  margin-bottom: 0px;
  margin-left: 20%;
  margin-top: 0px;
  display: inline-block;
}

.row:hover {background-color: #191919;}

.c1 {
  width: 30%;
}

.c2 {
  width: 30%;
}

.c3 {
  width: 25%;
}

.c4 {
  width: 15%;
}

.super-header {
  text-align: center;
  color: var(--light);
  padding-top: 83px;
  margin: 0px;
}

.c1-3 {
  width: 35%;
}

.c2-3 {
  width: 35%;
}

.c3-3 {
  width: 30%;
}

.role {
  font-size: 18px;
  display:  inline-block;
  font-family: Heebo, sans-serif;
  color: var(--mid-grey);
  font-weight:lighter;
  padding-left: 11px;
}

.base {
  width: 100%;
  background-color: var(--light);
  margin-left: 0px;
  text-align: center;
  color: var(--ultra-light);
  font-family: Heebo, sans-serif;
  padding-top: 42px;
  padding-bottom: 63px;
  height: auto;
}

.base-head {
  font-size: 18px;
  padding-top: 24px;
}

.base-text {
  font-size: 24px;
  color: white;
}

.base-link {
  color: white;
  font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
}
