:root {
  --heading-text-padding: 24px;
  --light: #008080;
  --dark: #004c4c;
  --dark-grey: #282828;
  --header-text-size: 21px;
  --light-grey: #c7c7c7;
  --mid-grey:  #9e9e9e;
  --ultra-light: #B2D8D8;
}

body {
  margin: 0px;
  background-color: var(--dark-grey);
  font-family: sans-serif;
  font-weight: normal;

  -webkit-user-select: none; /* Make text non-selectable Safari */
  -moz-user-select: none; /* Make text non-selectable Firefox */
  -ms-user-select: none; /* Make text non-selectable IE10+/Edge */
  user-select: none; /* Make text non-selectable Standard */
}

h1 {
  font-weight: normal;
}

h2 {
  font-weight: normal;
  color: var(--light);
  text-align: center;
  font-family: Heebo, sans-serif;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

h3, a {
  font-weight: normal;
  color: white;
  text-align: center;
  font-family: Heebo, sans-serif;
  padding: 0px;
  margin: 0px;
}

span {
  color: var(--mid-grey);
}

.itemOne {
  margin-top: 0px;
}

.section-first {
  padding-top: 80px;
}

.section {
  padding-bottom: 40px;
}

.section-end {
  padding-bottom: 80px;
}

/* Copy class for header object. */
.head-obj-cl {
  width: 100%;
  height: 70px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  display: block;
}
/* End copy. */

/* Copy class for base object. */
.base-object {
  height: 283px;
  width: 100%;
  padding-bottom: 0px;
  margin-bottom: 0px;
  display: block;
}
/* End copy. */
