:root {
  --heading-text-padding: 24px;
  --light: #008080;
  --dark: #004c4c;
  --dark-grey: #282828;
  --header-text-size: 21px;
  --light-grey: #96958d;
  --mid-grey:  #6a6a6a;
  --ultra-light: #B2D8D8;
}

body {
  margin: 0px;
  background-color: var(--dark-grey);
  font-family: Heebo, sans-serif;
  font-weight: normal;
}

h1 {
  font-weight: normal;
}

.header {
  width: 100%;
  background-color: var(--light);
  color: white;
  overflow: auto;
  height: 66px;;
}

.headers {
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  text-align: right;
}

.h-left {
  display: inline-block;
  float: left;
  font-family: Heebo, sans-serif;
  font-size: 24px;
  margin: 0px;
  margin: 18px 15px 15px 15px;

}

.header-obj {
  display: inline-block;
  padding: 21px 15px;
  font-size: var(--header-text-size);
  color: white;
  text-decoration: none;
  border:0px;
  font-size: 24px;
  transition: background .5s;

}

.header-obj-end {
  display: inline-block;
  padding: 21px 15px;
  font-size: var(--header-text-size);
  color: white;
  text-decoration: none;
  border:0px;
  font-size: 24px;
  transition: background .5s;
}

.header-obj:hover {
  background: white;
  color: var(--dark);
  border-radius: 4px 4px 0px 0px;
  transition: background .5s;
}

.header-obj-end:hover {
  background: white;
  color: var(--dark);
  border-radius: 4px 4px 0px 0px;
  transition: background .5s;
}

.logo {
  float: left;
  height: 35px;
  width: auto;
  padding: 15px 0px;
}

.main {
  width: 70%;
  padding-right: 15%;
  padding-left: 15%;
  color: white;
}

.col1{
  width: 20%;
  display: inline-block;
  float: left;
}

.col2 {
  width: 77%;
  padding-left: 3%;
  display: inline-block;
  float: right;
}

.col1-small {
  width: 40%;
  display: inline-block;
  float: left;
}

.col2-small {
  width: 57%;
  padding-left: 3%;
  display: inline-block;
  float: right;
}

.pic {
  width: 70%;
  height: auto;
  display:block;
  margin-left: 15%;
  margin-right: 15%;
  border-radius: 7px;

}

.fam, .Scouting, .French{
  margin-bottom: 180px;
}

p {
  font-size: 18px;
}

h1 {font-size: 24px;
color: var(--mid-grey)}

.super-header {
  font-size: 30px;
  color: white;
  padding-top: 42px;
}

.sec1 {
  padding-left: 42px;
}

.super-col1 {
  width: 47.5%;
  display: inline-block;
  float: left;
}

.super-col2 {
  width: 47.5%;
  padding-left: 5%;
  display: inline-block;
  float: right;
}

.super-cols {
  padding-bottom: 350px;
}

.fam-head {
  text-align: center;
}

.text {
  color: var(--ultra-light);
  margin-top: 0px;
}
