:root {
  --heading-text-padding: 24px;
  --light: #008080;
  --dark: #004c4c;
  --dark-grey: #282828;
  --header-text-size: 21px;
  --light-grey: #96958d;
  --mid-grey:  #6a6a6a;
  --ultra-light: #B2D8D8;
}

body {
  margin: 0px;
  background-color: var(--dark-grey);
  font-family: Heebo, sans-serif;
  font-weight: normal;
}

h1 {
  font-weight: normal;
}

.header {
  width: 100%;
  background-color: var(--light);
  color: white;
  overflow: auto;
  height: 71px;
}

.headers {
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  text-align: right;
}

.h-left {
  display: inline-block;
  float: left;
  font-family: Heebo, sans-serif;
  font-size: 24px;
  margin: 0px;
  margin: 15px 15px 15px 15px;

}

.header-obj {
  display: inline-block;
  padding: 21px 15px;
  font-size: var(--header-text-size);
  color: white;
  text-decoration: none;
  border:0px;
  font-size: 24px;
  transition: background .5s;

}

.header-obj-end {
  display: inline-block;
  padding: 21px 15px;
  font-size: var(--header-text-size);
  color: white;
  text-decoration: none;
  border:0px;
  font-size: 24px;
  transition: background .5s;
}

.header-obj:hover {
  background: white;
  color: var(--dark);
  border-radius: 4px 4px 0px 0px;
  transition: background .5s;
}

.header-obj-end:hover {
  background: white;
  color: var(--dark);
  border-radius: 4px 4px 0px 0px;
  transition: background .5s;
}

.logo {
  float: left;
  height: 35px;
  width: auto;
  padding: 15px 0px;
}

.main {
  width: 70%;
  padding-right: 15%;
  padding-left: 15%;
  color: white;
}

.col1{
  width: 20%;
  display: inline-block;
  float: left;
}

.col2 {
  width: 80%;
  display: inline-block;
  float: right;
}

.col1-small {
  width: 180px;
  display: inline-block;
  float: left;
  margin-right: 0px;
  padding-right: 0px;
}

.col2-small {
  width: 70%;
  display: inline-block;
  float: right;
}

.pic {
  width: 90%;
  height: auto;
  display:block;
  margin-left: 0%;
  margin-right: 0%;
  border-radius: 7px;

}

.fam, .Scouting, .French{
  margin-bottom: 180px;
}

p {
  font-size: 18px;
}

h1 {
  font-size: 24px;
  color: var(--mid-grey);
  margin-top: 0px;
}

.super-header {
  font-size: 30px;
  color: white;
  padding-top: 42px;
  color: var(--light);
  margin-bottom: 0px;
}

.super-col1 {
  width: 47.5%;
  display: inline-block;
  float: left;
}

.super-col2 {
  width: 47.5%;
  padding-left: 5%;
  display: inline-block;
  float: right;
}

.super-cols {
  height: auto;
  overflow: auto;
}

.fam-head {
  text-align: center;
}

.text {
  color: var(--ultra-light);
  margin-top: 0px;
}

.block-head {
  color: var(--light-grey);
}

.row:hover {background-color: #191919;}

.c1 {
  width: 15%;
}

.c2 {
  width: 25%;
}

.c3 {
  width: 45%;
}

.c4 {
  width: 15%;
}

.role {
  font-size: 18px;
  display:  inline-block;
  font-family: Heebo, sans-serif;
  color: var(--mid-grey);
  font-weight:lighter;
  padding: 0px;
  margin: 0px;
  padding-left: 11px;
}

.head-top {
  color: var(--light-grey);
  margin-bottom: 0px;
  margin-top: 0px;
  display: inline-block;
  padding: 0px;
  margin: 0px;
}

.tbl td, .tbl th {
  padding: 8px 48px 8px 5px;
  border-bottom: 1px solid var(--mid-grey);
}

.tbl th {
  text-align: left;
  background-color: none;
  color: var(--ultra-light);
}

.tbl{
  color: white;
  font-family: Heebo, sans-serif;
  border-collapse: collapse;
  text-align: left;
  width: 100%;

}

.section, .section-last{
  width: 100%;
}

.section-last {
  margin-bottom: 42px;
}


.base {
  width: 100%;
  background-color: var(--light);
  margin-left: 0px;
  text-align: center;
  color: var(--ultra-light);
  font-family: Heebo, sans-serif;
  padding-top: 42px;
  padding-bottom: 63px;
  height: auto;
}

.base-head {
  font-size: 18px;
  padding-top: 24px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.base-text {
  font-size: 24px;
  color: white;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 0px;
}

.base-link {
  color: white;
  font-size: 18px;
  text-decoration: underline;
  cursor: pointer;
}
