:root {
  --light: #008080;
  --dark: #004c4c;
  --dark-grey: #282828;
  --light-grey: #96958d;
  --mid-grey:  #6a6a6a;
  --ultra-light: #B2D8D8;

  /* Flickity Vars*/
  --fkty-height: 700px;
  --hover-effect-anim-time: .25s;
  --hover-effect-opacity: .85;
}

/* Copy class for header object. */
.head-obj-cl {
  width: 100%;
  height: 70px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  display: block;
}
/* End copy. */

/* Copy class for base object. */
.base-object {
  height: 283px;
  width: 100%;
  padding-bottom: 0px;
  margin-bottom: 0px;
  display: block;
}
/* End copy. */

.intro {
  padding-top: 21px;
  padding-bottom: 21px;
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  color: var(--light);
  height: auto;
  background: white;
  overflow: auto;
}

.col1 {
  width: 30%;
  text-align: center;
  float: left;
  padding-bottom: 21px;
  border: 1px solid;
  border-color: white;
  box-shadow: 0px 1px 3px 1px;
  color: var(--light-grey);
  margin-right: 3%;
  margin-bottom: 21px;
  margin-top: 21px;
  border-radius: 5px;
}

.col2 {
  width: 30%;
  display: inline-block;
  float: left;
  padding-bottom: 42px;
  border: 1px solid;
  border-color: white;
  box-shadow: 0px 1px 3px 1px;
  color: var(--light-grey);
  margin-right: 3%;
  margin-bottom: 21px;
  margin-top: 21px;
  border-radius: 5px;
}

.col3 {
  width: 30%;
  display: inline-block;
  padding-bottom: 21px;
  border: 1px solid;
  border-color: white;
  box-shadow: 0px 1px 3px 1px;
  color: var(--light-grey);
  margin-right: 3%;
  margin-bottom: 21px;
  margin-top: 21px;
  border-radius: 5px;
}

.picture1 {
  width: 80%;
  padding: 0% 10% 21px 10%;
}

.hello {
  width: 55%;
  margin-left: 22.5%;
  margin-right: 22.5%;
  margin-bottom: 32px;
  color: var(--light);
}

.col-text {
  font-size: 19px;
  color: var(--dark-grey);
  padding-left: 41px;
  padding-right: 21px;
}

.col-text-grey {
  font-size: 19px;
  color: var(--mid-grey);
  padding-left: 41px;
  padding-right: 21px;
}

.col-text-br {
  font-size: 19px;
  color: var(--dark-grey);
  padding-left: 41px;
  padding-right: 21px;
  padding-top: 11px;
}

.col-text-end {
  font-size: 19px;
  color: var(--dark-grey);
  padding-left: 41px;
  padding-right: 21px;
  padding-bottom: 21px;
}

.col-header {
  color: var(--light);
  padding: 0px 21px;
  text-align: center;
}

.circle-dot {
  font-size: 19px;
  padding-left: 11px;
  padding-right: 21px;
  list-style-type: circle;
}


/* Experiences */


.experiences {
  width: 80%;
  padding: 0% 10%;
}

.exp {
  padding-top: 21px;
  padding-bottom: 21px;
  width: auto;
  overflow: auto;
  margin-bottom: 80px;
  border: 1px solid;
  border-color: var(--mid-grey);
  box-shadow: 0px 1px 3px 1px;
  color: var(--mid-grey);
  margin-left: 10%;
  margin-right: 10%;
}

.org-logo {
  width: 100%;
  padding-top: 21px;
 }

.exp-col1 {
  padding-left: 7.5%;
  width: 15%;
  float: left;
  margin: 0px;
}

.exp-col2 {
  width: 60%;
  padding-left: 10%;
  padding-right: 7.5%;
  color: white;
  display: inline-block;
}

.exp-head {
  font-size: 32px;
  padding-bottom: 11px;
}

.exp-sub {
  font-size: 24px;
  color: var(--light-grey);
  padding-bottom: 3px;
}

.exp-text {
  padding-bottom: 11px;
  font-size: 18px;
}

.exp-text-br {
  padding-bottom: 11px;
  padding-top: 11px;
  font-size: 18px;
}

.exp-link {
  color: white;
  display: inline-block;
  padding-right: 5px;
  text-decoration: underline;
  cursor: pointer;
}

.exp-header {
  letter-spacing: 2px;
  color: #d9d9d9;
  text-align: center;
  padding: 42px 21px;
}



/* Flickity CSS See Vars Above*/
.img {
  height: var(--fkty-height);
  width: auto;
  position: relative;
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: var(--hover-effect-anim-time) ease;
  background-color: var(--dark-grey);
}

.text {
  color: white;
  font-size: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.carousel-cell:hover .overlay {
  opacity: var(--hover-effect-opacity);
}


/* Static */
body {
  margin: 0px;
  background-color: var(--dark-grey);
}

ul {
  margin: 0px;
}

body, h1 {
  font-weight: normal;
  font-family: Heebo, sans-serif;
}

p {
  border: 0px;
  margin: 0px;
  padding:0px;
}

/* Media Queries */
@media all and (max-width: 800px) {
  body{
    background-color: blue;


  }
}
