:root {
  --heading-text-padding: 24px;
  --light: #008080;
  --dark: #004c4c;
  --dark-grey: #282828;
  --header-text-size: 21px;
  --light-grey: #96958d;
  --mid-grey:  #6a6a6a;
  --ultra-light: #B2D8D8;
}

body {
  margin: 0px;
  background-color: var(--dark-grey);
  font-family: sans-serif;
  font-weight: normal;
}

h1 {
  font-weight: normal;
}

/* Copy class for header object. */
.head-obj-cl {
  width: 100%;
  height: 70px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  display: block;
}
/* End copy. */

/* Copy class for base object. */
.base-object {
  height: 283px;
  width: 100%;
  padding-bottom: 0px;
  margin-bottom: 0px;
  display: block;
}
/* End copy. */

.error {
  background: orangered;
  color: #fff;
  padding: 1rem;
}

.canvas {
  width: 50%;
  margin-left: 25%;
  margin-right: 24.5%;
  margin-top: 42px;
  margin-bottom: 84px;
  border-radius: 7px;
  border-color: white;
  border-style: solid;
  border: 3px;
}


.button {
  width: 15%;
  margin-left: 42.5%;
  margin-right: 42.5%;
  padding: 21px 15px 21px 15px;
  margin-top: 3%;
  margin-bottom: 1%;
  border-radius: 4px;
  border-width: medium;
  border-style: solid;
  border-color: white;
  background-color: var(--dark-grey);
  font-size: 21px;
  color: var(--ultra-light);
  font-family: Heebo, sans-serif;
  transition: background .75s;
  transition: border-color 0.2s;
}

.button:hover {
  background-color: var(--light);
  color: white;
  border-color: var(--light);
  transition: background .75s;
  transition: border-color .25s;
  cursor: pointer;
}

.button:focus {
  outline: none;
}


* {
  margin: 0;
  padding: 0;
}

@media all and (max-width: 1300px) {
  .button {
    width: 30%;
    margin: 6% 35%;
    height: 120px;
    font-size: 24px;
  }

  .canvas {
    width: 80%;
    margin-left: 10%;
    margin-right: 9.5%;
  }
}

@media all and (max-width: 1140px) {
  .head-obj-cl {
    height: 76px;
  }
}


@media all and (max-width: 890px) {
  .head-obj-cl {
    height: 160px;
  }
}
