:root {
  --heading-text-padding: 24px;
  --light: #008080;
  --dark: #004c4c;
  --dark-grey: #282828;
  --header-text-size: 21px;
  --light-grey: #96958d;
  --mid-grey:  #6a6a6a;
  --ultra-light: #B2D8D8;
}


* {
  margin: 0;
  padding: 0;
}

.top-bar {
  background: #333;
  color: #fff;
  padding: 1rem;
}

.btn {
  background: coral;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.7rem 2rem;
}

.btn:hover {
  opacity: 0.9;
}

.page-info {
  margin-left: 1rem;
}

.error {
  background: orangered;
  color: #fff;
  padding: 1rem;
}

.canvas {
  width: 40%;
  padding-left: 30%;
  padding-right: 30%;
}

body {
  margin: 0px;
  background-color: var(--dark-grey);
  font-family: sans-serif;
}

.header {
  width: 100%;
  background-color: var(--light);
  color: white;
  overflow: auto;
  height: auto;
}

.headers {
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  text-align: right;
}

.h-left {
  display: inline-block;
  float: left;
  font-family: Heebo, sans-serif;
  font-size: 30px;
  margin: 0px;
  padding: 21px 15px;

}

.header-obj {
  display: inline-block;
  padding: 21px 15px;
  font-size: var(--header-text-size);
  color: white;
  text-decoration: none;
  border:0px;
  font-size: 30px;
}

.header-obj-end {
  display: inline-block;
  padding: 21px 15px;
  font-size: var(--header-text-size);
  color: white;
  text-decoration: none;
  border:0px;
  font-size: 30px;
}

.header-obj:hover {
  background: white;
  color: var(--dark);
  border-radius: 4px 4px 0px 0px;
}

.header-obj-end:hover {
  background: white;
  color: var(--dark);
  border-radius: 4px 4px 0px 0px;
}

.logo {
  float: left;
  height: 35px;
  width: auto;
  padding: 21px 0px;
}

.button {
  width: 10%;
  margin-left: 45%;
  margin-right: 45%;
  padding: 21px 15px 21px 15px;
  margin-top: 7%;
}
