:root {
  --heading-text-padding: 24px;
  --light: #008080;
  --dark: #004c4c;
  --dark-grey: #282828;
  --light-grey: #96958d;
  --mid-grey:  #6a6a6a;
  --ultra-light: #B2D8D8;
}




.base {
  width: 100%;
  background-color: var(--light);
  margin-left: 0px;
  text-align: center;
  color: var(--ultra-light);
  font-family: Heebo, sans-serif;
  padding-top: 42px;
  padding-bottom: 63px;
}

.base-head {
  font-size: 18px;
  padding-top: 24px;
}

.base-text {
  font-size: 24px;
  color: white;
}

.base-link {
  color: white;
  font-size: 18px;
  text-decoration: underline;
  cursor: pointer;
}


/* Static */
body {
  margin: 0px;
  background-color: var(--dark-grey);
  font-family: sans-serif;
}

body h1 {
  font-weight: normal;
}
