:root {
  /*Colors*/
  --light: #008080;
  --dark: #004c4c;
  --dark-grey: #282828;
  --light-grey: #96958d;
  --mid-grey:  #6a6a6a;
  --ultra-light: #B2D8D8;

  /*Numbers*/
  --header-height: 70px;
  --header-font-size: 25px;
  --logo-height: calc( var(--header-font-size) + 13px);

  /*Calcs*/
  --header-calc: calc(var(--header-height) - var(--header-font-size) - 5px); /*Honestly, I don't know why I need to subtract 5 here, but it seems to work. */
  --logo-calc: calc(var(--header-height) - var(--logo-height));

  --text-padding: calc( var(--header-calc) / 2);
  --logo-padding: calc( var(--logo-calc) / 2);
}

.h-left {
  display: inline-block;
  float: left;
  font-family: "Heebo", sans-serif;
  font-size: var(--header-font-size);
  margin: 0px;
  padding: 20.6px 21px 20.6px 21px;
}

.logo {
  float: left;
  height: var(--logo-height);
  padding: var(--logo-padding);
  margin: 0px;
}

.header-obj {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-size: var(--header-font-size);
  transition: background .5s;
  cursor: pointer;
  height: auto;
  padding: 20.6px 21px 20.6px 21px;
}

.header-obj-end {
  display: inline-block;
  padding: 20.6px 21px 20.6px 21px;
  color: white;
  text-decoration: none;
  font-size: var(--header-font-size);
  transition: background .5s;
  cursor: pointer;
  height: auto;
}




/* Hover Effects */

.header-obj:hover {
  background: white;
  color: var(--dark);
  transition: background .5s;
}

.header-obj-end:hover {
  background: white;
  color: var(--dark);
  transition: background .5s;
}




/* Static */
body {
  margin: 0px;
  margin: 0px;
  background-color: var(--dark-grey);
  font-family: sans-serif;
}

p {
  border: 0px;
  margin: 0px;
  padding:0px;
}

.header {
  width: 100%;
  background-color: var(--light);
  color: white;
  overflow: auto;
  height: var(--header-height);
  max-height: 70px;
}

.headers {
  width: 80%;
  padding: 0% 10%;
  text-align: right;
}

@media all and (max-width: 1140px) {

  .headers{
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
  }

  .header {
    height: 76px;
  }

  .h-left {
    display: none;
  }

  .header-obj, .header-obj-end {
    font-size: 25px;
  }
}

@media all and (max-width: 990px) {
  .logo {
    display: none;
  }

  .headers {
    text-align: center;
  }
}


@media all and (max-width: 890px) {
  .header {
    height: 160px;
  }
}
