<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="./CSS/base.css">
    <script type="text/javascript" src="./base.js">

    </script>
  </head>
  <body>

    <div class="base">
      <p class="base-text" >Contact</p>
      <a class="base-link" onclick="mail()">Email</a>
      <a class="base-link" onclick="linkedIN()">LinkedIn</a>
      <a class="base-link" onclick="GitHub()">GitHub</a>
      <p class="base-head" >© 2020 Nathan Eads</p>
    </div>

  </body>
</html>
