<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="./CSS/header.css">
    <script type="text/javascript" src="./header.js"></script>
  </head>
  <body>
    <div class="header">
      <div class="headers">
        <img class="logo" src="../src/logo/icon.png" alt="Nathan Eads Logo">
        <p class="h-left">Nathan Eads</p>
        <a class="header-obj" onclick="index()">Home</a>
        <a class="header-obj" onclick="articles()">Awards & Articles</a>
        <a class="header-obj" onclick="exp()">Experience</a>
        <a class="header-obj-end" onclick="resume()">Resume</a>
      </div>
    </div>
  </body>
</html>
